<!-- Web.Config Configuration File -->

<configuration>
    <system.web>
        <customErrors mode="Off"/>
    </system.web>
    <system.webServer>
      <httpErrors errorMode="Detailed" />
      <handlers>
`       <add name="test" path="ar/*" verb="*" type="WebApplication1.IISHandler1" resourceType="Unspecified" preCondition="integratedMode"/>
    </handlers>
    </system.webServer>
</configuration>

